.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.syncForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.formRow,
.fieldMappingsRow {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.formGroup,
.fieldMappingGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.formLabel {
  font-weight: bold;
}

.formControl {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid slategray;
}

.toggleContainer {
  display: flex;
  align-items: center;
  height: 37px;
}

.fieldMappingsRow {
  align-items: flex-start;
  flex: 1;
}

.fieldMappingGroup {
  height: 100%;
}

.fieldMappingContainer {
  display: flex;
  height: 100%;
  border: 1px solid slategray;
  border-radius: 0.25rem;
}