.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 88px;
  height: 28px;
}

.switchLabel {
  position: absolute;
  right: 10px;
  z-index: 1;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d8493e;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 1px;
  bottom: 1px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  z-index: 2;
  border: #d4d4d4 solid 1px;
  background-color: #f4f5f8;
}

input:checked+.slider {
  background-color: #57d15a;
}

input:focus+.slider {
  box-shadow: 0 0 1px #57d15a;
}

input:checked+.slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
}

input:checked~.switchLabel {
  -webkit-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  transform: translateX(-25px);
}